@keyframes logo {
  from {
    width: 320px;
    transform: translate(0, 0);
    height: fit-content;
  }

  to {
    position: fixed;
    width: 64px;
    z-index: 1000;
    height: fit-content;
    transform: translate(0, -45vh);
  }
}

.hero-to-header {
  animation-name: logo;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.header-to-hero {
  animation-name: logo;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
